@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<a href="~/TestPage.html">TestPage here</a>
    <br />
    <a href="~/Test/RazorTest">RazorTest page (href)</a>
    <br />
    <a asp-controller="Test" asp-action="RazorTest">RazorTest page but using helpers</a>

    
</div>
